################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EMS/.vs/EMS/v16
/EMS/EMS/obj
